.main {
  background-color: #fff;
}
.home-section {
  position: relative;
  border-bottom: solid 16px rgb(0, 0, 0);
}
.home-rectangle {
  width: 100%;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; /* Para garantir que o vídeo se ajuste ao container */
}
.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Para garantir que o vídeo cubra todo o espaço */
  position: absolute;
  top: 0;
  left: 0;
}
.home-container {
  padding-block: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to top, #000000, #490f0f, #690303);
}
.home-data {
  padding: 0 1rem;
  display: grid;
  text-align: center;
  gap: 0.75rem;
}
.perfil-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 10px solid rgb(241, 238, 238);
}
.perfil-img {
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.836);
  width: 130px;
  height: 130px;
  border: solid #fff;
  z-index: 1;
}
.home-name {
  font-family: "Montserrat", serif;
  color: rgb(246, 246, 246);
  font-style: normal;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.home-profession {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(251, 250, 250);
}
.home-social {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.home-social-link {
  color: rgb(251, 251, 251);
  font-size: 1.4rem;
  transition: 0.4s ease;
}
.home-social-link:hover {
  color: rgb(165, 43, 43);
}
.home-perfil {
  position: relative;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.836);
  background: linear-gradient(#2c1e1e, #000000, #580808);
  border: solid 8px rgb(253, 247, 247);
  border-radius: 50%;
  display: grid;
  place-items: center;
  justify-self: center;
  transition: background-color 0.4s;
}
.home-button {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  background: #fffefe;
  color: #430c0c;
  padding: 1rem;
  justify-self: center;
  transition: 0.4s ease;
}
.home-button:hover {
  background: #f54d4d;
  color: #fff;
}
.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  background-color: #580808;
  color: #fff;
  border: none;
  padding: 0.3rem;
  transition: 0.4s ease;
  cursor: pointer;
  z-index: 999;
}
.scroll-button:hover {
  background-color: #971f1f;
  transform: translateY(-5px);
}
