* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes colorAnimation {
  0% {
    color: #fafafa;
  }
  50% {
    color: #5fb0bb;
  }
  100% {
    color: rgb(8, 148, 141);
  }
}
body {
  background-image: url("./assets/pxfuel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#cabecalho {
  padding: 1rem;
}
#cabecalho header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(29, 25, 25, 0.822);
  width: 15%;
  padding: 2rem 1rem;
  border: solid 2px rgb(8, 148, 141);
  border-radius: 5%;
  gap: 0.5rem;
}
#cabecalho h1 {
  animation: colorAnimation 8s infinite;
  font-size: 1.3rem;
  font-family: "Black Ops One", cursive;
  font-weight: 400;
}
#cabecalho img {
  width: 40%;
  height: 6rem;
  border-radius: 50%;
  border: solid 2px rgb(8, 148, 141);
}
#cabecalho p {
  animation: colorAnimation 8s infinite;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
#buttondiv {
  padding: 0.5rem 3.5rem;
}
#openModalButton {
  padding: 1rem;
  font-family: "Black Ops One", cursive;
  font-weight: 400;
  animation: colorAnimation 8s infinite;
  background: rgb(29, 25, 25);
  transition: 0.3s ease;
  border-radius: 5px;
  border: solid 1px rgb(8, 148, 141);
  cursor: pointer;
}
#openModalButton:hover {
  background: rgb(66, 63, 63);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
}

.modal-content {
  background-color: rgb(29, 25, 25);
  padding: 1.5rem;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-content p {
  color: #5fb0bb;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #5fb0bb;
}
.cert-menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 39%;
  left: 2.1%;
  width: 30%;
  background: rgb(29, 25, 25);
  border: solid 1px rgb(8, 148, 141);
  padding: 20px;
  color: #5fb0bb;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  list-style: none;
}
#menudiv {
  padding: 0 2.5rem;
}
#openCertMenu {
  cursor: pointer;
  padding: 1rem;
  font-family: "Black Ops One", cursive;
  font-weight: 400;
  animation: colorAnimation 4s infinite;
  background: rgb(29, 25, 25);
  transition: 0.3s ease;
  border-radius: 5px;
  border: solid 1px rgb(8, 148, 141);
  cursor: pointer;
}
#openCertMenu:hover {
  background: rgb(66, 63, 63);
}
#projects {
  display: flex;
  position: absolute;
  top: 2%;
  left: 16%;
  background: rgba(29, 25, 25, 0.699);
  width: 80%;
  height: 92%;
  border: solid 1px rgb(8, 148, 141);
  border-radius: 5px;
}
#project .project1 {
  display: flex;
  background: rgb(29, 25, 25);
  width: 50rem;
  height: 3rem;
}
footer {
  position: absolute;
  bottom: 0;
  background: rgb(29, 25, 25);
  width: 100%;
  padding: 1rem;
}
footer p {
  color: #5fb0bb;
}
