.testimonial-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
  background: linear-gradient(to bottom, #000000, #124658, #007bff);
}

.testimonial-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
  border-radius: 10px;
}

.testimonial-swiper div {
  display: flex;
  flex-direction: column;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
  background-color: #fff;
}
.container-carousel {
  padding: 1rem;
}
.carousel .dot {
  background-color: #278cea !important;
}
.testimonial-name {
  font-family: "Open sans", sans-serif;
}
.testimonial-description {
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: 0.1rem;
  color: rgb(141, 127, 127);
  line-height: 1.3rem;
  width: 60%;
}
.testimonial-img {
  width: 80px !important;
  height: 80px;
  filter: grayscale(1);
  transition: filter 0.4s;
}
.testimonial-border {
  border: 6px solid #278cea;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
}
.testimonial-card:hover .testimonial-img {
  filter: none;
}
@media screen and (min-width: 1150px) {
  .testimonial-container {
    width: 35% !important;
  }
}
@media only screen and (max-width: 480px) {
  .testimonial-swiper {
    display: flex;
    justify-content: center;
  }
  .container-carousel {
    width: 19.5rem !important;
  }
}
