.work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2rem 0;
}
.work-section-title {
  font-family: 'Open sans', sans-serif;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: 500;
}
.work-title {
  font-family: 'Montserrat', serif;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}
.work-subtitle {
  font-family: 'Roboto', sans-serif;
  color: rgb(184, 180, 180);
}
.work-container {
  display: grid;
  padding: 1rem;
  justify-self: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.work-card {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.4rem;
}
.work-img {
  width: 60%;
  filter: grayscale(1);
  transition: filter 0.5s, transform 0.5s ease;
}
.work-img-dev {
  width: 90%;
  filter: grayscale(1);
  transition: filter 0.5s, transform 0.5s ease;
  cursor: zoom-in;
}
.work-img-gas {
  width: 60%;
  filter: grayscale(1);
  transition: filter 0.5s, transform 0.5s ease;
}
.work-img-togyro {
  width: 100%;
  filter: grayscale(1);
  transition: filter 0.5s, transform 0.5s ease;
}
.work-icon {
  color: #580808;
  position: absolute;
  top: 1.25rem;
  right: 3rem;
  font-size: 2rem;
  transition: transform 0.4s;
}
.work-icon-2 {
  color: #580808;
  position: absolute;
  top: 1.25rem;
  right: 14rem;
  font-size: 2rem;
  transition: transform 0.4s;
}
.work-icon-3 {
  color: #580808;
  position: absolute;
  top: 5.25rem;
  right: 14rem;
  font-size: 2rem;
  transition: transform 0.4s;
}
.work-icon-gas {
  color: #580808;
  position: absolute;
  top: 1.25rem;
  right: 14rem;
  font-size: 2rem;
  transition: transform 0.4s;
}
.work-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;

  gap: 0.2rem;
}
.work-link:hover .work-img {
  transform: scale(1.05);
  filter: none;
}
.work-link:hover .work-img-dev {
  transform: scale(1.05);
  filter: none;
}
.work-link:hover .work-img-gas {
  transform: scale(1.05);
  filter: none;
}
.work-link:hover .work-img-togyro {
  transform: scale(1.05);
  filter: none;
}
.work-link:hover .work-icon {
  transform: translateX(8px);
}
.work-link:hover .work-icon-2 {
  transform: translateX(8px);
}
.work-link:hover .work-icon-3 {
  transform: translateX(8px);
}
.work-link:hover .work-icon-gas {
  transform: translateX(8px);
}
@media screen and (min-width: 1150px) {
  .work-container {
    display: grid !important;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 767px) {
  .work-img {
    filter: none;
  }
  .work-img-gas {
    filter: none;
  }
  .work-img-togyro {
    width: 65%;
    filter: none;
  }
  .work-img-dev {
    filter: none;
  }
  .work-icon {
    color: #580808;
    position: absolute;
    top: 1rem;
    right: 5rem;
    font-size: 1.5rem;
    transition: transform 0.4s;
  }
  .work-icon-2 {
    top: 1rem !important;
    right: 5rem !important;
    font-size: 2rem;
    font-size: 1.5rem !important;
  }
  .work-icon-3 {
    top: 1.8rem !important;
    right: 5rem !important;
    font-size: 2rem;
    font-size: 1.5rem !important;
  }
  .work-icon-gas {
    top: 1rem;
    right: 5rem;
    font-size: 1.5rem;
    transition: transform 0.4s;
  }
}
