.work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.work-section-title {
  font-family: 'Open sans', sans-serif;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: 500;
}
.work-title {
  font-family: 'Montserrat', serif;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}
.work-subtitle {
  font-family: 'Roboto', sans-serif;
  color: rgb(184, 180, 180);
}
.work-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.work-card {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.4rem;
}
.work-img {
  width: 90%;

  filter: grayscale(1);
  transition: filter 0.5s, transform 0.5s ease;
}
.work-icon {
  color: #580808;
  position: absolute;
  top: 1.25rem;
  right: 3rem;
  font-size: 2rem;
  transition: transform 0.4s;
}
.work-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;

  gap: 0.2rem;
}
.work-link:hover .work-img {
  transform: scale(1.05);
  filter: none;
}
.work-link:hover .work-icon {
  transform: translateX(8px);
}
@media screen and (min-width: 1150px) {
  .work-container {
    display: grid !important;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
}
